.container-projeto {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container-projeto img {
  width: 20%;
}
.container-projeto h1 {
  color: #fff;
}
.container-projeto h2{
    color: #999;
}
