.container-contato {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

.container-contato img {
  width: 20%;
}
.container-contato h1 {
  color: #fff;
}
.container-contato h2 {
  color: #999;
}
