@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.container-home {
  background-color: brown;
  height: 100vh;
  padding: 10px 10px;
  margin: 10px;
}
.container-title {
  position: absolute;
  left: 100px;
  top: 293px;
  background-color: rgb(33, 34, 34);
  height: 50%;
  width: 500px;
}

.container-title h1 {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  animation: moveInRight 0.5s ease-in-out forwards;
}
/*animation*/
@keyframes moveInRight {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.container-title p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
  animation: moveInRight_P 0.9s ease-in-out forwards;
}

@keyframes moveInRight_P {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}
