@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.container-home {
  height: 100vh;
  padding: 10px 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-left,
.container-right {
  flex-basis: 40%; /* cada seção ocupa 50% da largura do container */
  box-sizing: border-box; /* inclui o padding na largura do elemento */
}
.container-greeting {
  margin-bottom: 100px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #7142cb;
  display: inline-block;
  animation-name: transition;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes transition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: auto;
  padding: 25px;
}
.container-left h1 {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  animation: moveInRight 1s ease-in-out forwards;
}
/*animation*/
@keyframes moveInRight {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.container-left h2 {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 23px;
  overflow: hidden; /* esconde as letras que ainda não foram exibidas */
  white-space: nowrap; /* impede que a palavra quebre em várias linhas */
  animation: typing 2s steps(11);
}
@keyframes typing {
  from {
    width: 0%; /* começa sem largura (sem letras visíveis) */
  }
  to {
    width: 40%; /* termina com largura total (todas as letras visíveis) */
  }
}
.container-left p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
  animation: moveInRight 1s ease-in-out forwards;
}
.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: moveInTop 2s ease-in-out forwards;
}
.social a {
  color: #999;
  margin-left: 30px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.social a:hover {
  color: #7142cb;
}
@keyframes moveInTop {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.container-right {
  height: 70%;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  animation: moveInLeft 1s ease-in-out forwards;
}
/*animation*/
@keyframes moveInLeft {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.container-right img {
  margin-left: -50px;
  width: 400px;
  height: 400px;
}
.container-right-info {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
.container-right-info a {
  display: flex;
  justify-content: left;
  flex-direction: row;
  list-style: none;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 16px;
}
.container-right-info svg {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.container-right-info .btn-cv a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 1px solid #7142cb;
  border-radius: 8px;
  text-decoration: none;
  width: 40%;
  height: 40px;
  margin-top: 50px;
  transition: all ease-in-out 0.3s;
}
.container-right-info .btn-cv a:hover {
  color: #fff;
  background-color: #7142cb;
}

@media (max-width: 768px) {
  .container-home {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .container-left,
  .container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
  }
  .container-greeting {
    text-align: center;
    font-size: 25px;
  }
  .container-left h1 {
    font-size: 30px;
  }
  .container-left p {
    font-size: 14px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  .social a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px 15px;
  }
  .container-right img {
    margin: 0;
    width: 400px;
    height: 400px;
  }

}
