@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.topsection {
  position: absolute;
  width: 411px;
  height: 189px;
  left: 140px;
  top: 293px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 61px;
  color: #ffffff;
}

.topsection p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
  transform: rotate(-0.03deg);
}
.avatarAndIcons {
  position: absolute;
  width: auto;
  height: 600px;
  left: 690px;
  top: 203px;
}


.dowloandCV {
  position: absolute;
  width: 196px;
  height: 73px;
  left: 1338px;
  top: 414px;
}

@media (max-width: 760px) {
  .topsection {
    position: absolute;
    width: auto;
    height: 199.24px;
    left: 24px;
    top: 445px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 61px;
    color: #ffffff;
  }

  .topsection p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: rgba(255, 255, 255, 0.5);
    transform: rotate(-0.03deg);
  }
}
